USE [master]
GO
/****** Object:  Database [MyCRM]    Script Date: 4/16/2025 8:39:17 PM ******/
CREATE DATABASE [MyCRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyCRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyCRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyCRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyCRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyCRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyCRM]
GO
/****** Object:  Table [dbo].[billing]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billing](
	[bId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[paid] [decimal](20, 2) NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[usedPower] [int] NULL,
	[deviceId] [int] NULL,
	[tarriffId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billingArchive]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billingArchive](
	[billArchId] [int] IDENTITY(1,1) NOT NULL,
	[billId] [int] NULL,
	[logUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[billArchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariffs]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariffs](
	[tId] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NULL,
	[price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[tId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariffsArchive]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariffsArchive](
	[tAId] [int] IDENTITY(1,1) NOT NULL,
	[tariffId] [int] NULL,
	[month] [text] NULL,
	[year] [text] NULL,
	[priceArch] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[tAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userDevices]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDevices](
	[udId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[name] [text] NULL,
	[from_date] [date] NULL,
	[to_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[udId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[uId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [text] NULL,
	[lastName] [text] NULL,
	[email] [text] NULL,
	[password] [text] NULL,
	[address] [text] NULL,
	[city] [text] NULL,
	[zipcode] [int] NULL,
	[birthdate] [text] NULL,
	[tariffId] [int] NULL,
	[admincheck] [tinyint] NULL,
	[country] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[uId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[verifiedDevices]    Script Date: 4/16/2025 8:39:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[verifiedDevices](
	[vdId] [int] IDENTITY(1,1) NOT NULL,
	[model] [text] NULL,
	[serialNum] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[vdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[billing]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([uId])
GO
ALTER TABLE [dbo].[billing]  WITH CHECK ADD  CONSTRAINT [FK_billing_userDevices] FOREIGN KEY([deviceId])
REFERENCES [dbo].[userDevices] ([udId])
GO
ALTER TABLE [dbo].[billing] CHECK CONSTRAINT [FK_billing_userDevices]
GO
ALTER TABLE [dbo].[userDevices]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([uId])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([tariffId])
REFERENCES [dbo].[tariffs] ([tId])
GO
USE [master]
GO
